.container {
    display: flex;
    flex-direction: column;
    padding: 0 80px 20px 80px;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.details {
    display: flex;
    gap: 50px;
}

.details__img {
    width: 250px;
    height: auto;
}

.details__context {
    padding-right: 80px;
}

.details__context > h2{
    margin-bottom: 60px;
}

.details__vote {
    margin: 0;
    padding: 5px;
    background-color: rgb(72, 103, 195);
    color: #fff;
    max-width: 20px;
    border-radius: 5px;
}

.more_info_list {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.more_info_list__link {
    max-width: 60px;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    color:black;
    font-weight: 500;
    border: 0.5px solid rgb(72, 103, 195);
}

.more_info_list__link:hover,
.more_info_list__link:focus {
    background-color: rgb(72, 103, 195);
    color: #fff;
}

.list__noimg {
    border: 1px solid;
    width: 250px;
    height: 350px;
  }

  .list__noimg > p{
    margin: 100px;
  }

  .go_back {
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    color:black;
    font-weight: 500;
    border: 0.5px solid rgb(72, 103, 195);
  }