.box {
    padding: 0 80px 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.details {
    display: flex;
    gap: 50px;
}

.details__img {
    width: 250px;
    height: auto;
}

.details__context {
    padding-right: 80px;
}

.details__context > h2{
    margin-bottom: 70px;
}

.more_info_list {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.more_info_list__link {
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    color:black;
    font-weight: 500;
}

.more_info_list__link:hover,
.more_info_list__link:focus {
    background-color: rgb(72, 103, 195);
    color: #fff;
}