.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin: 0;
  padding-inline-start: 15px;
}

.list__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.list__item:first-child blockquote p {
  margin-top: 0;
}

blockquote {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-width: 250px;
  max-width: 90%;
  font-size: 1rem;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

blockquote p:first-of-type:before {
  content: '\201c';
  position: absolute;
  left: -0.5em;
}

blockquote p:last-of-type:after {
  content: '\201d';
  position: absolute;
}

blockquote footer {
  position: relative;
  font-weight: 500;
}

blockquote footer:before {
  content: '–';
  position: absolute;
  left: -0.6em;
}

@media (min-width: 600px) {
  .list {
    padding-inline-start: 40px;
  }

  blockquote {
    min-width: 400px;
    max-width: 75%;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (min-width: 1024px) {
  blockquote {
    min-width: 600px;
    max-width: 800px;
    font-size: 1.4rem;
    line-height: 1.6;
  }
}
