.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.list__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

blockquote {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	min-width: 400px;
	max-width: 820px;
	font-size: 1vw;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-fon-smoothing: grayscale;
}

blockquote p:first-of-type:before {
	content: '\201c';
	position: absolute;
	left: -.5em;
}

blockquote p:last-of-type:after {
	content: '\201d';
	position: absolute;
}

blockquote footer {
	position: relative;
    font-weight: 500;
}

blockquote footer:before {
	content: '–';
	position: absolute;
	left: -.6em;
}